<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Shop</title>
</head>
<body>
    <h1>SUPER SHOP</h1>
    <br>
    <h2>Add Product</h2>
    <form action="#">
        <div>
            <label for="#"><%= title%></label>
            <input type="text">
        </div>
        <div>
            <label for="#"><%= name%></label>
            <input type="text">
        </div>
        <div>
            <label for="#"><%= value%></label>
            <input type="text">
        </div>
        <div>
            <label for="#"><%= price%></label>
            <input type="text">
        </div>
    </form>
</body>
</html>