<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Shop</title>
</head>
<body>
    <h1>Welcome to SUPER SHOP</h1>
    <br>
    <h2>Main page</h2>
    <br>
    <ul>
        <li><a href="/shop/add"><%= pageAdd %></a></li>
        <br>
        <li><a href="/shop/products"><%= pageProducts %></a></li>
        <br>
        <li><a href="/about.html"><%= pageAbout %></a></li>
    </ul>
</body>
</html>