<!DOCTYPE html>
<html>
  <head>
    <title>Cars Catalogue</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
      <nav>
        <ul class="links-cont">
          <li>
            <a href="/cars/home" class="about-link">Home</a>
          </li>
          <li>
            <a href="/cars/about" class="about-link">About (Домашнє завдання)</a>
          </li>
        </ul>
      </nav>
    </header>
    <div class="page-container">
      <h1>Dream Cars</h1>
      <ul class="main-container">
        <li>
          <ul class="list-head">
            <li>Car Brand</li>
            <li>Car year</li>
            <li>Car number</li>
            <li>Car image</li>
            <li>Car options</li>
          </ul>
        </li>
        <% cars.forEach(car => {%>
          <ul class="car-list">
            <li><%= car.brand%></li>
            <li><%= car.year%></li>
            <li><%= car.number%></li>
            <li>
              <img src="<%= car.imageSrc %>" alt="cant't load img">
            </li>
            <li>
              <a href="#">Редагувати</a>
              <button type="button">Видалити</button>
            </li>
          </ul>
          <% }) %>
      </ul>
        <a href="addNewCar" class="adding-button">Додати авто</a>
      </div>
    </div>
  </body>
</html>
