*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}
a {
	text-decoration: none;
	color: inherit;
}
li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
html,
body {
	height: 100%;
	line-height: 1;
}
textarea,
button,
input {
	font-weight: inherit;
	font-size: inherit;
	color: inherit;
	font-family: inherit;
}
button {
	cursor: pointer;
	background-color: inherit;
}


header {
  padding: 40px 20px 0 20px;
}
.links-cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
/* ============================= */
.page-container {
  padding: 20px 20px 50px 20px;
}
h1 {
  font-weight: 700;
  font-size: 30px;
  text-align: center;
}
.main-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 40px 0 40px 0 ;
}
.list-head {
  border: 3px solid black;
  padding: 20px 10px;
}
.list-head li {
  text-align: center;
}
.car-list {
  border: 1px solid black;
  padding: 20px 10px;
}
.list-head, .car-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}
.list-head li {
  font-weight: 600;
  font-size: 20px;
  text-decoration: underline;
}
.car-list li img {
  max-width: 200px;
}
.car-list li {
  border: 1px solid black;
  padding: 20px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
}
.car-list li:last-child {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.car-list li a {
  padding: 15px 10px;
  border: 2px solid darkgoldenrod;
}
.car-list li button {
  padding: 15px 10px;
  border: 2px solid red;
}
.adding-button {
  font-weight: 600;
  font-size: 20px;
  color: darkgreen;
  padding: 15px;
  border: 2px solid blue;
}
.about-link {
  font-weight: 600;
  font-size: 20px;
  color: darkcyan;
  background-color: gainsboro;
  padding: 15px;
  border: 2px solid darkgreen;
}
#imgPreview {
  display: block;
  max-width: 100px;
}