<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Job Counter</title>
</head>
<body>
    <h1>Count your job</h1>
    <form action="/job" method="post">
        <ul>
            <li>
                <label for="#">Виріб</label>
                <input type="text" name="itemName">
            </li>
            <li>
                <label for="#">Кількість</label>
                <input type="number" name="count">
            </li>
            <li>
                <label for="#">Ціна за од.</label>
                <input type="number" name="price">
            </li>
            <li>
                <label for="#">Сума за вироби</label>
                <input disabled type="number" name="totalOfItems">
            </li>
        </ul>
        <button type="submit">Підтвердити</button>
    </form>
    <hr>
</body>
</html>